version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simple
    stream: ext://sys.stdout
  file_handler:
    class: logging.FileHandler
    level: DEBUG
    formatter: simple
    filename: console.log
    encoding: utf8
    mode: w
loggers:
  simpleExample:
    level: DEBUG
    handlers: [file_handler]
    propagate: no
root:
  level: DEBUG
  handlers: [file_handler]
  propagate: no
